@font-face {
    font-family: 'Clash Display';
    src: url('../assets/fonts/ClashDisplay-Variable.ttf') format('truetype');
}

body {
    font-family: 'Clash Display', sans-serif;
}


:root {
    --primary-color: #ffcd44;
    --secondary-color: #89c289;
    --tertiary-color: #4fc1f0;
}

.hero-section::before {
    content: '';
    background-image: url(../assets/images/hero-bg.jpg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

.hero-section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.navbar-brand {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 800;
}

.nav-link {
    color: #000;
    border-radius: 10px;
}

.nav-link:hover {
    color: #fff;
    background: var(--secondary-color);
}

.hero-wrapper {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hero-heading {
    position: relative;
    z-index: 5;
    margin-top: 110px;
}

.hero-heading h1 {
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
}

.top-socials i{
    color: #fff;
    background: var(--secondary-color);
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}
.hero-heading h1 span {
    font-weight: 400;
}

.hero-heading p {
    font-weight: 400;
    font-size: 18px;    
    border-top: 1px solid #bcbcbc;
    padding-top: 20px;
}

.hero-heading p span {
    color: var(--tertiary-color);
    text-align: center;
    padding-top: 20px;
}

/* Button 3 Specific Effect */

/* General Button Styling */
button,
button::after {
    transition: all 0.3s;
}

.custom-btn-one::before,
.custom-btn-one::after {
    background: var(--secondary-color);
    content: '';
    position: absolute;
    z-index: -1;
}

.custom-btn-one:hover {
    color: #fff;
}

.custom-btn-one {
    background: none;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: 500;
    display: block;
    position: relative;
    text-transform: uppercase;
    padding: 10px 25px;
    margin: 10px;
    text-align: center;
}

.custom-btn-one::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.custom-btn-one:hover::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}



.custom-btn-two::before,
.custom-btn-two::after {
    background: var(--tertiary-color);
    content: '';
    position: absolute;
    z-index: -1;
}

.custom-btn-two:hover {
    color: #fff;
}

.custom-btn-two {
    text-align: center;
    background: none;
    margin: 10px;
    border: 1px solid var(--tertiary-color);
    border-radius: 5px;
    color: var(--tertiary-color);
    display: block;
    position: relative;
    text-transform: uppercase;
    padding: 10px 25px;
    font-weight: 500;
}

.custom-btn-two::after {
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
}

.custom-btn-two:hover::after {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.feature {
    background-image: url(../assets/images/feature-bg.jpg);
    width: 100%;
    padding: 50px 0;
    position: relative;
}

.feature>img {
    position: absolute;
    bottom: 0;
    left: -140px;
    z-index: 1;
}

.hero-section>img {
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.top-heading {
    position: relative;
    padding: 10px 0;
}

.top-heading img {
    position: absolute;
    right: 0;
    top: 0;
    animation: roam 15s infinite;
}

@keyframes roam {
    0% {
        transform: translateX(20px);
    }

    45% {
        transform: translateY(50px);
    }

    75% {
        transform: translateZ(50px);
    }

    100% {
        transform: translateX(20px);
    }
}

.mission-card {
    background: #fff;
    border: 1px solid var(--tertiary-color);
    border-radius: 20px;
    padding: 25px 10px;
    width: 100%;
    height: 100%;
}

.vision-card {
    background: #fff;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    padding: 25px 10px;
    width: 100%;
    height: 100%;
}

.fixing-section {
    padding: 80px 0;
}

.fixing-cards {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    filter: drop-shadow(0px 5px 15px rgba(215, 215, 217, .3));
    height: 100%;
    text-align: center;
    position: relative;
    transition: 0.3s ease;
    z-index: 5;
}

.fixing-cards:hover {
    transform: scale(1.05);
    transition: 0.3s ease;
    filter: drop-shadow(0px 5px 15px rgba(150, 150, 151, 0.3));
}
.fixing-cards img{
    width: 50px;
    margin-bottom: 20px;
}

.growth-section {
    background: #0a0a0a;
    padding: 80px 0;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
}

.left-column .growth-heading {
    margin-bottom: 2rem;
}

.card {
    border-radius: 1rem;
    padding: 2rem;
    color: #000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.card-yellow {
    background-color: var(--primary-color);
}

.card-green {
    background-color: var(--secondary-color);
}

.card-white {
    background-color: #fff;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.clients-card a {
    margin-top: 1rem;
    display: inline-block;
    color: inherit;
    text-decoration: underline;
    font-weight: bold;
}

.counter-cards {
    text-align: center;
}

.counter-cards h5 {
    color: var(--primary-color);
    font-size: 35px;
}

.counter-cards h6 {
    color: #000;
}


.process-section, .our-clients {
    padding: 80px 0;
    background-image: url(./images/testi-bg.jpg);
    margin: auto;
}

.our-process {
    position: relative;
    text-align: center;
}

.our-process>img {
    position: absolute;
    left: 0;
    animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.timeline {
    position: relative;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #468ef9, #fed84c);
    transform: translateX(-50%);
}

.timeline-row {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 30px;
}

.timeline-box {
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    min-height: 120px;
}

.timeline-box h4 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.timeline-box p {
    margin: 0;
    font-size: 1rem;
}

.timeline-box.blue {
    background: #4fc1f082;
}

.timeline-box.cream {
    background: #ffcd4461;
}

.timeline-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--secondary-color);
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
    z-index: 2;
}


.connect-section::before {
    content: '';
    background-image: url(./images/call-bg.png);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
}

.connect-section {
    width: 100%;
    height: fit-content;
    padding: 60px 0;
    position: relative;
}

footer {
    background-image: url(../assets/images/testi-bg.jpg);
    padding: 60px 0;
}

.single_footer_first h4 {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 800;
}

.social_profile ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.social_profile ul li a {
    color: var(--tertiary-color);
    font-size: 25px;
    font-weight: 500;
    width: fit-content;
}

.single_footer h4 {
    color: var(--secondary-color);
    font-weight: 600;
}

.single_footer ul {
    list-style: none;
    padding: 0;
}

.single_footer ul li {
    margin-top: 10px;
}

.single_footer ul li a {
    color: #000;
    text-decoration: none;
    font-weight: 400;
}

.copyright {
    text-align: center;
    border-top: 1px solid #bcbcbc;
    padding-top: 20px;
    margin-top: 20px;
    color: #000;
}

.copyright span {
    color: var(--tertiary-color);
}

.testimonial-section {
    padding: 60px 0;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    border-radius: 40px;
    padding: 30px 23px;
    background: #edf6f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -5px;
}

.swiper-pagination-bullet-active {
    background: var(--primary-color);
}

.swiper.testimonial-wrapper {
    padding-top: 59px;
    padding-bottom: 60px;
}

.testimonial-items .testimonial-text {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    max-width: 330px;
    margin-bottom: 45px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.testimonial-items .testimonial-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 35px;
    position: relative;
}

.testimonial-rating {
    display: inline-block;
    direction: ltr;
}

.star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s;
}

.star.selected {
    color: #f5b301;
}

#team {
    background: #000;
    padding: 60px 0;
}

.team-name {
    color: #fff;
    text-align: center;
    padding-top: 10px;
}

.team-links-list a {
    color: var(--primary-color);
    font-size: 20px;
}

.team-links {
    padding: 10px 0;
    border-top: 1px solid #bcbcbc40;
}

.team-links-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.team-role {
    color: #bcbcbc;
    text-align: center;
}

.nav-bars{
    background: transparent;
    border: none;
}
.nav-bars span i{
    font-size: 20px;
}

.main-container {
  margin: 1.6rem 0.8rem;
}

.grid-container {
  margin: auto;
  display: grid;
  grid-gap: 1.1312rem;
  grid-template-columns: repeat(auto-fit, 12.8rem);
  grid-auto-rows: 12.8rem;
  grid-auto-flow: dense;
  justify-content: center;
  max-width: 75em;
}

.clients-card {
  grid-row: auto / span 1;
  grid-column: auto / span 1;
  background-color: white;
  box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
}

.clients-card h1,
.clients-card h2,
.clients-card h3,
.clients-card h4,
.clients-card p {
  margin-top: 0;
  font-weight: normal;
}

.card__image {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: flex;
}

.card__image img {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}

.card__side-by-side {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.card__side-by-side--m {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.card__side-by-side--m img {
  min-height: auto;
}

.card__content {
  padding: 1.6rem;
}

.card__button {
  margin: 1.6rem 0;
  text-align: center;
  padding: 0.8rem 1.6rem;
  background: none;
  border: 0.5px solid #777;
  border-radius: 2px;
}

.card__button:hover {
  border-color: #d099a0;
}

.card--featured {
  grid-row: auto / span 3;
  grid-column: auto / span 2;
}

.card--2x {
  grid-row: auto / span 2;
  grid-column: auto / span 2;
}

.card--vertical {
  grid-row: auto / span 2;
}

.card--horizontal {
  grid-column: auto / span 2;
}

.card--frameless {
  background-color: transparent;
  box-shadow: none;
}

.padding-large {
  padding: 3.2rem;
}

.padding-large--l {
  padding: 1.6rem;
}

.big-script {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: 'Sacramento', sans-serif;
  font-size: 4.3em;
  line-height: 1.15em;
  text-align: center;
}

.big-script p {
  margin: 0;
}

.wrapper {
  display: grid;
  place-content: center;
  background: var(--secondary-color);
  position: relative;
  z-index: 88;
}

/* MARQUEE STYLES */
.marquee {
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 10%,
    hsl(0 0% 0% / 1) 90%,
    hsl(0 0% 0% / 0)
  );
}

.marquee__ctn {
  display: flex;
  width: 100%;
  padding: 20px 0;
}

.marquee__track {
  display: flex;
}
.marquee__item.logo{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

@supports (-webkit-touch-callout: none) {
  .marquee__ctn {
    transform: translate3d(0, 0, 0) scale(1);
    perspective: 1px;
  }
}

.marquee__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 150px;
  margin-inline-end: 3rem;
}

.marquee__item img {
  height: 60px;
  width: 100%;
  object-fit: contain;
  backface-visibility: hidden;
  filter: brightness(100%);
}
/* Media Queries */

@media (max-width: 413px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }

  .clients-card {
    min-height: 12.8rem;
  }
}

@media (min-width: 627px) {
  .grid-container {
    grid-gap: 1.6rem;
  }

  .card__side-by-side--m {
    flex-flow: row nowrap;
  }

  .card__side-by-side--m img {
    min-height: 100%;
  }

  .card--featured {
    grid-row: auto / span 2;
    grid-column: 1 / -1;
  }
}

@media (min-width: 836px) {
  .padding-large--l {
    padding: 3.2rem;
  }
}


/* responsive css */
@media screen and (min-width: 768px) {
    .swiper-pagination-bullet {
        width: 24px;
        height: 24px;
    }

    .section-title::before,
    .section-title::after {
        width: 141px;
    }

}

@media (max-width: 768px) {
    .hero-section>img, .feature>img  {
        display: none;
    }
    .hero-section {
    height: fit-content;
    }
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .right-column {
        flex-direction: column;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-row {
        grid-template-columns: auto 1fr;        
    }

    .timeline-box.left
    {
        grid-column: 2;
        margin-bottom: 30px;
    }

    .timeline-box.right {
        grid-row: 1;
    }

    .timeline-circle {
        grid-column: 1;
        margin: 0;
        grid-row: 1;
    }
}

@media (max-width:551px) {
    .timeline-box
    {
        margin-bottom: 20px;
    }
    .counter-cards{
        width: 40%;
    }
    .hero-heading h1 {
        font-size: 35px;
    }
     .hero-heading p {
        font-size: 14px;
    }
    .hero-heading h1 img {
        width: 25%;
    }
    .hero-heading {
    margin-top: 50px;
    }
}